$background-color-banner: #323a45;

.usa-banner {
  background-color: $background-color-banner;
}

.usa-nav-secondary {
  @media screen and (min-width: 951px) {
    top: -6.3rem; // USWDS Override
  }
}

.logo-img {
  height: 1em;

  @media screen and (min-width: 951px) {
    vertical-align: bottom;
  }
}
