---

---
@import "banner";
@import "nav";
@import "featuredcards";
@import "newscards";
@import "themes";
@import "newsposts";
@import "archivedcard";


/*==================================================
.box {
    background:#FFF;
    margin:0px auto 10px;
}


 * Effect 1

.effect1{
     box-shadow: 0 10px 6px -6px #777;
}
 * ===============================================*/
