---
title: "Performance News"
layout: navigation-index
agency_dir: performance-news
---


    <section class="usa-section usa-section-dark usa-graphic_list">
      <div class="usa-grid usa-graphic_list-row">
        <div class="usa-width-one-whole usa-media_block">
          <h1>Performance News</h1>
          <p>Latest Upadates on How Agencies Are Serving the American People</p>
      </div>
    </div>
  </section>
  <section class="usa-section usa-section usa-graphic_list">
    <div class="usa-grid usa-graphic_list-row">
      <div class="usa-media_block-body">
        <h2>Featured Stories</h2>
        <br>
    </div>
    <div class="usa-width-one-half usa-media_block">
      <a href="PMA/PMA.html"><img class="usa-media_block-img" src="../img/homepage_images/newhero.jpg" alt="Alt text" width="400px" height="250px"></a>
    </div>
    <div class="usa-width-one-half usa-media_block">
      <a href="PMA/PMA.html"><img class="usa-media_block-img" src="../img/homepage_images/newhero.jpg" alt="Alt text" width="400px" height="250px"></a>
    </div>
    </div>
  </section>
  <section class="usa-section-dark usa-graphic_list">
      <div class="usa-grid usa-graphic_list-row-CAP">
      <div class="usa-width-one-whole usa-media_block">
        <center><h2>Search Performance.gov by Theme</h2></center>
        <br>
            <div class="usa-width-one-sixth usa-media_block">
                <div class="usa-media_block-body">
                    <div id="parent"><center><a href="../CAP/CAP_goal_1.html"><img src="../img/CAP_icons/Icon_Modernize_IT_white.png" alt="IT Modernization" width="70"></a>
                     <p><a href="../CAP/CAP_goal_1.html">IT Modernization</a></div></p></center>
                </div>
              </div>
              <div class="usa-width-one-sixth usa-media_block">
                <div class="usa-media_block-body">
                    <center><div id="parent"><a href="../CAP/CAP_goal_2.html"><img src="../img/CAP_icons/Icon_Federal_Data_white.png" alt="Icon_Federal_Data" width="70"></a>
                     <p><a href="../CAP/CAP_goal_2.html">Data, Accountability and Transparency</a></div></p></center>
                </div>
              </div>
              <div class="usa-width-one-sixth usa-media_block">
                <div class="usa-media_block-body">
                     <center><div id="parent"><a href="../CAP/CAP_goal_3.html"><img src="../img/CAP_icons/Icon_Workforce_white.png" alt="Icon_Workforce" width="70"></a>
                     <p><a href="../CAP/CAP_goal_3.html">People - Workforce for the 21st Century</a></div></p></center>
                </div>
              </div>
              <div class="usa-width-one-sixth usa-media_block">
                <div class="usa-media_block-body">
                     <center><div id="parent"><a href="../CAP/CAP_goal_4.html"><img src="../img/CAP_icons/Icon_Improving_Customer_white.png" alt="Icon_Improving_Outcomes" width="70"></a>
                     <p><a href="../CAP/CAP_goal_4.html">Improving Customer Experience</a></div></p></center>
                </div>
              </div>
              <div class="usa-width-one-sixth usa-media_block">
                <div class="usa-media_block-body">
                     <center><div id="parent"><a href="../CAP/CAP_goal_5.html"><img src="../img/CAP_icons/Icon_Sharing_Quality_white.png" alt="Alt text" width="70"></a>
                     <p><a href="../CAP/CAP_goal_5.html">Sharing Quality Services</a></div></p></center>
                </div>
              </div>
              <div class="usa-width-one-sixth usa-media_block">
                <div class="usa-media_block-body">
                    <center><div id="parent"><a href="../CAP/CAP_goal_6.html"><img src="../img/CAP_icons/Icon_Shifting_From_white.png" alt="Icon_Shifting_From" width="70"></a>
                     <p><a href="../CAP/CAP_goal_6.html">Shifting From Low-Value to High-Value Work</a></div></p></center>
                </div>
              </div>
        </div>
        <div class="usa-grid usa-graphic_list-row-CAP">
        <center><div class="usa-width-one-sixth usa-media_block">
            <div class="usa-media_block-body">
               <center><div id="parent"><a href="../CAP/CAP_goal_7.html"><img src="../img/CAP_icons/Icon_Category_Management_white.png" alt="Category Management" width="70"></a>
                 <p><a href="../CAP/CAP_goal_7.html">Category Management</a></div></p></center>
            </div>
          </div>
          <div class="usa-width-one-sixth usa-media_block">
            <div class="usa-media_block-body">
                 <center><div id="parent"><a href="../CAP/CAP_goal_8.html"><img src="../img/CAP_icons/Icon_Results-Oriented_white.png" alt="Results-Oriented" width="70"></a>
                 <p><a href="../CAP/CAP_goal_8.html">Results-Oriented Accountability for Grants</a></div></p></center>
            </div>
          </div>
          <div class="usa-width-one-sixth usa-media_block">
            <div class="usa-media_block-body">
                 <center><div id="parent"><a href="../CAP/CAP_goal_9.html"><img src="../img/CAP_icons/Icon_Getting_Payments_white.png" alt="Icon_Getting_Payments" width="70"></a>
                 <p><a href="../CAP/CAP_goal_9.html">Getting Payments Right</a></div></p></center>
            </div>
          </div>
          <div class="usa-width-one-sixth usa-media_block">
            <div class="usa-media_block-body">
                 <center><div id="parent"><a href="../CAP/CAP_goal_10.html"><img src="../img/CAP_icons/Icon_Improving_Outcomes_white.png" alt="Icon_Improving_Customer_white" width="70"></a>
                 <p><a href="../CAP/CAP_goal_10.html">Federal IT Spending Transparency</a></div></p></center>
            </div>
          </div>
          <div class="usa-width-one-sixth usa-media_block">
            <div class="usa-media_block-body">
                 <center><div id="parent"><a href="../CAP/CAP_goal_11.html"><img src="../img/CAP_icons/Icon_Achieve_Transformative_white.png" alt="Improve Management of Major Acquisitions icon" width="70"></a>
                 <p><a href="../CAP/CAP_goal_11.html">Improve Management of Major Acquisitions</a></div></p></center>
            </div>
          </div>
          <div class="usa-width-one-sixth usa-media_block">
            <div class="usa-media_block-body">
                 <center><div id="parent"><a href="../CAP/CAP_goal_12.html"><img src="../img/CAP_icons/Icon_Modernize_Infrastructure_white.png" alt="Modernizing_Infrastructure" width="70"><a/>
                 <p><a href="../CAP/CAP_goal_12.html">Modernize Infrastructure Permitting</a></div></p></center>
            </div>
          </div>
        </div>

        <br>
        </section>
    </div>
  </div>
  </section>
  <section class="usa-section usa-graphic_list">
    <div class="usa-grid usa-graphic_list-row">
      <div class="usa-width-one-third usa-media_block">
        <a class="twitter-timeline" data-width="100%" data-height="500" data-theme="light" data-link-color="#0071bc" href="https://twitter.com/OMBPress">Tweets by @OMBPress</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script><br>
      </div>
        {% for project in site.posts %}
          {% include card.html
           image_src=project.image
           image_alt=project.image_accessibility
           image_icon=project.image_icon
           agency=project.agency
           tagline=project.title
           description=project.excerpt
           link=project.permalink
           tags=project.tags
          %}
        {% endfor %}
      </div>
    <div class="card-banner">

        <p class="card-tag">Federal Election Commission</p>


        <a href="/what-we-deliver/fec-gov/" tabindex="-1" class="card-link-tagline"><h3 class="h4">Easy-to-use campaign data</h3></a>

      <p class="card-description">Rethinking how the Federal Election Commission provides data, instructions, and legal resources to the public.</p>
    </div>
    <a href="/what-we-deliver/fec-gov/" class="card-cta link-arrow-right" tabindex="0">
      Read more
      <span class="usa-sr-only">about Easy-to-use campaign data</span>
      <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="444.819" height="444.819" viewBox="0 0 444.819 444.819" role="img" aria-hidden="true">

</svg>

    </a>
  </div>
</article>
    </div>
    </div>
  </section>
