{% assign card_link = include.link | prepend: site.baseurl %}

<article class="card">
  <div class="card-link" data-href="{{ card_link }}" tabindex="-1">
    <img
       alt="{{ include.image_alt }}"
       class="card-image-bg"
       src="{{ site.baseurl }}{{ include.image_src }}"
       style="width:100%;object-fit:cover;"
    >
    <div class="card-banner">
      {% if include.agency %}
        <p class="card-tag">{{ include.agency }}</p>
      {% endif %}
      {% if card_link and include.tagline %}
        <a href="{{ card_link }}" tabindex="-1" class="card-link-tagline"><h3 class="h4">{{ include.tagline }}</h3></a>
      {% endif %}
      {% if include.date %}
        <p class="card-date">{{ include.date | date: '%B %d, %Y' }} </p>
      {% endif %}
        <!--<p class="card-description">{{ include.description }}</p>-->
      <span class="card-tag-text">Tags:</span><br>
      {% for tag in include.tags %}
      <span class="usa-label">
        <a href="{{ site.baseurl }}/tags/{{ tag }}/">{{ tag }}</a>
      </span>
      {% endfor %}
        </div>
        <br />
        <br />
    <div class="card-cta" tabindex="0">
      <a href="{{ card_link }}" style="text-decoration:none;">
      <b><!--&#10094;-->Read More <!--&#10095;--></a></b>
  </div>
  </div>
</article>
