<!--FOR THE FEATURED NEWS SECTION ON THE PERFORMANCE-NEWS PAGE. -->

{% assign card_link = include.link | prepend: site.baseurl %}


<div class="container" href="{{ card_link }}">
  <img
  class="card-image-featured"
  style="width:100%;object-fit:cover;"
  src="{{ site.baseurl }}{{ include .image_src }}" \>
  <div class="content">

        <!--{% if include.agency %}
      <p class="card-tag">{{ include.agency }}</p>
    {% endif %}-->
    {% if include.agency %}
      <p class="card-tag">{{ include.agency }}</p>
    {% endif %}
    {% if card_link and include.tagline %}
      <a href="{{ card_link }}" tabindex="-1" class="card-link-tagline"><h3 id="featured">
        <span style="color:#ffffff;">
        {{ include.tagline }}
        </span>
      </h3>
      </a>
    {% endif %}

    <div id="left">
    {% if include.date %}
      <div class="card-date-featured" >{{ include.date | date: '%B %d, %Y' }}
      </div>
    {% endif %}
    </div>

    <div id="right">
      <span class="card-tag-text" style="color:#ffffff;">Tags:</span>
    {% for tag in include.tags %}
      <span class="usa-label">
        <a href="{{ site.baseurl }}/tags/{{ tag}}/">{{ tag }}
        </a>
      </span>
      {% endfor %}
    </div>
      <!--<p style="color:#ffffff;" class="card-description">{{ include.description }}</p>-->
  </div>
</div>
