<section class="usa-section usa-section-dark usa-graphic_list">
  <div class="usa-grid usa-graphic_list-row">
    <div class="usa-width-one-whole usa-media_block">
      <center><h2>Search Performance News by Themes</h2></center>
  </div>
</div>
<div class="grid">

  </span>

  <div id="ltblue-grid"><p><a href="{{ site.baseurl }}/tags/administration-of-justice/">Justice</a></p></div>
  <div id="blue-grid"><p><a href="{{ site.baseurl }}/tags/agriculture/">Agriculture</a></p></div>
  <div id="brblue-grid"><p><a href="{{ site.baseurl }}/tags/commerce-and-housing-credit/">Commerce and Housing Credit</a></p></div>
  <div id="ukblue-grid"><p><a href="{{ site.baseurl }}/tags/community-and-regional-development/">Community and Regional Development</a></p></div>
  <div id="ltblue-grid"><p><a href="{{ site.baseurl }}/tags/education-training-employment-and-social-services/">Education, Training, Employment, and Social Services</a></p></div>
  <div id="blue-grid"><p><a href="{{ site.baseurl }}/tags/energy/">Energy</a></p></div>
  <div id="brblue-grid"><p><a href="{{ site.baseurl }}/tags/general-government/">General Government</a></p></div>
  <div id="ukblue-grid"><p><a href="{{ site.baseurl }}/tags/general-science-space-and-technology/">General Science, Space, and Technology</a></p></div>
  <div id="ltblue-grid"><p><a href="{{ site.baseurl }}/tags/health/">Health</a></p></div>
  <div id="blue-grid"><p><a href="{{ site.baseurl }}/tags/income-security/">Income Security</a></p></div>
  <div id="brblue-grid"><p><a href="{{ site.baseurl }}/tags/international-affairs/">International Affairs</a></p></div>
  <div id="ukblue-grid"><p><a href="{{ site.baseurl }}/tags/medicare/">Medicare</a></p></div>
  <div id="ltblue-grid"><p><a href="{{ site.baseurl }}/tags/national-defense/">National Defense</a></p></div>
  <div id="blue-grid"><p><a href="{{ site.baseurl }}/tags/natural-resources-and-environment/">Natural Resources and Environment</a></p></div>
  <div id="brblue-grid"><p><a href="{{ site.baseurl }}/tags/net-interest/">Net Interest</a></p></div>
  <div id="ukblue-grid"><p><a href="{{ site.baseurl }}/tags/social-security/">Social Security</a></p></div>
  <div id="ltblue-grid"><p><a href="{{ site.baseurl }}/tags/transportation/">Transportation</a></p></div>
  <div id="blue-grid"><p><a href="{{ site.baseurl }}/tags/veterans-benefits-and-services/">Veterans Benefits and Services</a></p></div>
</div>
</div>
</section>

<!--
<div class="usa-grid usa-graphic_list-row-CAP">    <div class="usa-width-one-whole usa-media_block">
<h2>Search Performance.gov by Theme</h2>
<br>
</div>
</div>
<div class="gridcontainer">
<div class="usa-grid usa-graphic_list-row-CAP">
    <div class="usa-width-one-sixth usa-media_block" id="theme-border">
        <div class="usa-media_block-body">
            <div id="parent">
             <p><a href="#">Administration of Justice</a></div></p>
        </div>
      </div>
      <div class="usa-width-one-sixth usa-media_block" id="theme-border">
        <div class="usa-media_block-body">
            <div id="parent"><a href="#">
             <p><a href="#">Agriculture</a></div></p>
        </div>
      </div>
      <div class="usa-width-one-sixth usa-media_block" id="theme-border">
        <div class="usa-media_block-body">
             <div id="parent"><a href="#">
             <p><a href="#">Commerce and Housing Credit</a></div></p>
        </div>
      </div>
      <div class="usa-width-one-sixth usa-media_block" id="theme-border">
        <div class="usa-media_block-body">
             <div id="parent"><a href="#">
             <p><a href="#">Community and Regional Development</a></div></p>
        </div>
      </div>
      <div class="usa-width-one-sixth usa-media_block" id="theme-border">
        <div class="usa-media_block-body">
             <div id="parent"><a href="#">
             <p><a href="#">Education, Training, Employment, and Social Services</a></div></p>
        </div>
      </div>
      <div class="usa-width-one-sixth usa-media_block" id="theme-border">
        <div class="usa-media_block-body">
            <div id="parent"><a href="#">
             <p><a href="#l">Energy</a></div></p>
        </div>
      </div>
</div>
</div>
    <div class="usa-grid usa-graphic_list-row-CAP">
<div class="usa-width-one-sixth usa-media_block">
    <div class="usa-media_block-body">
       <div id="parent"><a href="#">
         <p><a href="#">General Government</a></div></p>
    </div>
  </div>
  <div class="usa-width-one-sixth usa-media_block">
    <div class="usa-media_block-body">
         <div id="parent"><a href="#">
         <p><a href="#">General Science, Space, and Technology</a></div></p>
    </div>
  </div>
  <div class="usa-width-one-sixth usa-media_block">
    <div class="usa-media_block-body">
         <div id="parent"><a href="#">
         <p><a href="#">Health</a></div></p>
    </div>
  </div>
  <div class="usa-width-one-sixth usa-media_block">
    <div class="usa-media_block-body">
         <div id="parent"><a href="#">
         <p><a href="#">Income Security</a></div></p>
    </div>
  </div>
  <div class="usa-width-one-sixth usa-media_block">
    <div class="usa-media_block-body">
         <div id="parent"><a href="#">
         <p><a href="#">International Affairs</a></div></p>
    </div>
  </div>
  <div class="usa-width-one-sixth usa-media_block">
    <div class="usa-media_block-body">
         <div id="parent"><a href="#">
         <p><a href="#">Medicare</a></div></p>
    </div>
  </div>
</div>
</div>
<div class="usa-grid usa-graphic_list-row-CAP">
<div class="usa-width-one-whole usa-media_block">
            <div class="usa-width-one-sixth usa-media_block">
          <div class="usa-media_block-body">
              <div id="parent"><a href="#">
               <p><a href="#">National Defense</a></div></p>
          </div>
        </div>
        <div class="usa-width-one-sixth usa-media_block">
          <div class="usa-media_block-body">
            <div id="parent"><a href="#">
               <p><a href="#">Natural Resources and Environment</a></div></p>
          </div>
        </div>
        <div class="usa-width-one-sixth usa-media_block">
          <div class="usa-media_block-body">
               <div id="parent"><a href="#">
               <p><a href="#">Net Interest</a></div></p>
          </div>
        </div>
        <div class="usa-width-one-sixth usa-media_block">
          <div class="usa-media_block-body">
               <div id="parent"><a href="#">
               <p><a href="#">Social Security</a></div></p>
          </div>
        </div>
        <div class="usa-width-one-sixth usa-media_block">
          <div class="usa-media_block-body">
               <div id="parent"><a href="#">
               <p><a href="#">Transportation</a></div></p>
          </div>
        </div>
        <div class="usa-width-one-sixth usa-media_block">
          <div class="usa-media_block-body">
            <div id="parent"><a href="#">
               <p><a href="#l">Veterans Benefits and Services</a></div></p>
          </div>
        </div>
  </div>
</div>
</div>
</section>
</center>
-->
