  <section class="usa-section usa-section-dark usa-graphic_list">
    <div class="usa-grid usa-graphic_list-row">
      <div class="usa-width-one-whole usa-media_block">
        <center><h2>Search Performance News by Themes</h2></center>
    </div>
  </div>
  <div class="grid">
    <div id="ltblue-grid"><p><a href="{{ site.baseurl }}/tags/justice">Administration of Justice</a></p></div>
    <div id="blue-grid"><p>Agriculture</p></div>
    <div id="brblue-grid"><p>Commerce and Housing Credit</p></div>
    <div id="ukblue-grid"><p>Community and Regional Development</p></div>
    <div id="ltblue-grid"><p>Education</p></div>
    <div id="blue-grid"><p>Energy</p></div>
    <div id="brblue-grid"><p>General Government</p></div>
    <div id="ukblue-grid"><p>Science, Space, and Technology</p></div>
    <div id="ltblue-grid"><p>Health</p></div>
    <div id="blue-grid"><p>Income Security</p></div>
    <div id="brblue-grid"><p>International Affairs</p></div>
    <div id="ukblue-grid"><p>Medicare</p></div>
    <div id="ltblue-grid"><p>National Defense</p></div>
    <div id="blue-grid"><p>Natural Resources and Environment</p></div>
    <div id="brblue-grid"><p>Net Interest</p></div>
    <div id="ukblue-grid"><p>Social Security</p></div>
    <div id="ltblue-grid"><p>Transportation</p></div>
    <div id="blue-grid"><p>Veterans Benefits and Services</p></div>
  </div>
</div>
</section>

<!--
<div class="usa-grid usa-graphic_list-row-CAP">    <div class="usa-width-one-whole usa-media_block">
  <h2>Search Performance.gov by Theme</h2>
  <br>
</div>
</div>
<div class="gridcontainer">
<div class="usa-grid usa-graphic_list-row-CAP">
      <div class="usa-width-one-sixth usa-media_block" id="theme-border">
          <div class="usa-media_block-body">
              <div id="parent">
               <p><a href="#">Administration of Justice</a></div></p>
          </div>
        </div>
        <div class="usa-width-one-sixth usa-media_block" id="theme-border">
          <div class="usa-media_block-body">
              <div id="parent"><a href="#">
               <p><a href="#">Agriculture</a></div></p>
          </div>
        </div>
        <div class="usa-width-one-sixth usa-media_block" id="theme-border">
          <div class="usa-media_block-body">
               <div id="parent"><a href="#">
               <p><a href="#">Commerce and Housing Credit</a></div></p>
          </div>
        </div>
        <div class="usa-width-one-sixth usa-media_block" id="theme-border">
          <div class="usa-media_block-body">
               <div id="parent"><a href="#">
               <p><a href="#">Community and Regional Development</a></div></p>
          </div>

        </div>
        <div class="usa-width-one-sixth usa-media_block" id="theme-border">
          <div class="usa-media_block-body">
               <div id="parent"><a href="#">
               <p><a href="#">Education, Training, Employment, and Social Services</a></div></p>
          </div>
        </div>
        <div class="usa-width-one-sixth usa-media_block" id="theme-border">
          <div class="usa-media_block-body">
              <div id="parent"><a href="#">
               <p><a href="#l">Energy</a></div></p>
          </div>
        </div>
  </div>
</div>
      <div class="usa-grid usa-graphic_list-row-CAP">
  <div class="usa-width-one-sixth usa-media_block">
      <div class="usa-media_block-body">
         <div id="parent"><a href="#">
           <p><a href="#">General Government</a></div></p>
      </div>
    </div>
    <div class="usa-width-one-sixth usa-media_block">
      <div class="usa-media_block-body">
           <div id="parent"><a href="#">
           <p><a href="#">General Science, Space, and Technology</a></div></p>
      </div>
    </div>
    <div class="usa-width-one-sixth usa-media_block">
      <div class="usa-media_block-body">
           <div id="parent"><a href="#">
           <p><a href="#">Health</a></div></p>
      </div>
    </div>
    <div class="usa-width-one-sixth usa-media_block">
      <div class="usa-media_block-body">
           <div id="parent"><a href="#">
           <p><a href="#">Income Security</a></div></p>
      </div>
    </div>
    <div class="usa-width-one-sixth usa-media_block">
      <div class="usa-media_block-body">
           <div id="parent"><a href="#">
           <p><a href="#">International Affairs</a></div></p>
      </div>
    </div>
    <div class="usa-width-one-sixth usa-media_block">
      <div class="usa-media_block-body">
           <div id="parent"><a href="#">
           <p><a href="#">Medicare</a></div></p>
      </div>
    </div>
  </div>
</div>
  <div class="usa-grid usa-graphic_list-row-CAP">
  <div class="usa-width-one-whole usa-media_block">
              <div class="usa-width-one-sixth usa-media_block">
            <div class="usa-media_block-body">
                <div id="parent"><a href="#">
                 <p><a href="#">National Defense</a></div></p>
            </div>
          </div>
          <div class="usa-width-one-sixth usa-media_block">
            <div class="usa-media_block-body">
              <div id="parent"><a href="#">
                 <p><a href="#">Natural Resources and Environment</a></div></p>
            </div>
          </div>
          <div class="usa-width-one-sixth usa-media_block">
            <div class="usa-media_block-body">
                 <div id="parent"><a href="#">
                 <p><a href="#">Net Interest</a></div></p>
            </div>
          </div>
          <div class="usa-width-one-sixth usa-media_block">
            <div class="usa-media_block-body">
                 <div id="parent"><a href="#">
                 <p><a href="#">Social Security</a></div></p>
            </div>
          </div>
          <div class="usa-width-one-sixth usa-media_block">
            <div class="usa-media_block-body">
                 <div id="parent"><a href="#">
                 <p><a href="#">Transportation</a></div></p>
            </div>
          </div>
          <div class="usa-width-one-sixth usa-media_block">
            <div class="usa-media_block-body">
              <div id="parent"><a href="#">
                 <p><a href="#l">Veterans Benefits and Services</a></div></p>
            </div>
          </div>
    </div>
</div>
</div>
  </section>
</center>
-->
