$usa-nav-width: 22%;

.usa-nav-secondary {
  @media screen and (min-width: 951px) {
    top: -6.3rem; // USWDS Override
  }
}

@media screen and (min-width: 951px) {
  .usa-header-basic .usa-navbar {
    width: $usa-nav-width;
  }

  .usa-nav-container nav {
    max-width: 100 - $usa-nav-width;
  }
}

.usa-logo {
  line-height: 1;
}

.logo-img {
  height: 2rem;
  margin-top: .8rem;

  .usa-header-basic & {
    // Less room on the basic header, so slightly smaller logo
    height: 2.7rem;
  }

  @media screen and (min-width: 951px) {
    height: 3rem;
    vertical-align: bottom;
  }
}
