.section-info {
  background: #f1f1f1;
  font-size: initial; }
  @media screen and (min-width: 600px) {
    .section-info {
      background: none;
      padding-bottom: 0; }
      .section-info > ul:first-of-type {
        border-top: 1rem solid #00cfff;
        border-color: #046b99;
        padding-top: .5rem; } }
  .section-info blockquote {
    border-left: none;
    color: #046b99;
    font-size: 2.1rem;
    line-height: 1.4;
    margin: 0;
    margin-bottom: 3rem;
    padding-left: 0; }
  .section-info p {
    margin: 0; }
  .section-info > ul {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
    padding-left: 0;
    background: #f1f1f1; }
    .section-info > ul > li {
      margin-bottom: 0; }
    @media screen and (min-width: 600px) {
      .section-info > ul {
        background: #ffffff; } }
    .section-info > ul ul:not(.usa-unstyled-list) {
      padding-left: 1.5rem;
      margin-top: 0.5rem; }
      .section-info > ul ul:not(.usa-unstyled-list) li {
        line-height: 1.4;
        list-style-type: disc; }
        .section-info > ul ul:not(.usa-unstyled-list) li:last-of-type {
          padding-bottom: 0; }
    .section-info > ul:last-child {
      margin-bottom: 0; }
  .section-info a {
    overflow-wrap: break-word; }
  .section-info .section-info-list-item {
    padding-bottom: 3rem;
    padding-right: 3rem; }
    @media screen and (min-width: 600px) {
      .section-info .section-info-list-item {
        background-color: #ffffff;
        padding-left: 0;
        padding-right: 0; } }
    .section-info .section-info-list-item:last-of-type {
      padding-bottom: 0; }

.section-info-header {
  font-weight: 700; }

  .card-tag-post {
   color: #5b616b;
   font-size: 2rem;
   font-weight: 700;
   letter-spacing: 0.5px;
   text-transform: uppercase;
   color: #323a45; }


   /* post box */
   .background-medium, .background-dark {
       color: #ffffff;
       -webkit-font-smoothing: antialiased;
   }
   .background-medium {
       background-color: #046b99;
   }
   .pad-top-bottom {
       padding-top: 3rem;
       padding-bottom: 3rem;
   }
   .margin-spacing {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.post-border {
    border-bottom: 1rem solid #046b99;
    padding-bottom: 3rem;
}

.post-pagination {
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1;
    font-size: 1.4rem;
    font-weight: 700;
}

/*blockquote*/

.testimonial-blockquote {
  font-size: 1em;
  width: 100%;
  margin: 3.5rem auto;
  font-style: italic;
  color: #1C304A;
  padding: 1.2em 30px 1.2em 75px;
  border-left: 8px solid #046b99;
  line-height: 1.4;
  position: relative;
  background: #f1f1f1; }
  .testimonial-blockquote ::before {
    content: '\201C';
    color: #046b99;
    font-size: 4em;
    position: absolute;
    left: 10px;
    top: -10px; }
  .testimonial-blockquote ::after {
    content: ''; }
  .testimonial-blockquote span {
    display: block;
    color: #046b99;
    font-style: normal;
    font-weight: bold;
    margin-top: 1em; }

.post-byline {
  color: #5b616b;
  font-size: 1.4rem;
  font-weight: normal;

}
