---
layout: navigation_PMA
---

<section class="usa-section usa-section-dark usa-graphic_list">
   <div class="usa-grid usa-graphic_list-row">
     <div class="usa-width-one-half usa-media_block">
       <div class="usa-media_block-body">
         <a href="{{ site.baseurl }}/performance-news/performance-news.html">

           &larr; Back to News</a>

           <p class="card-tag-post"> {{ page.agency }}</p>
              <h1-post>{{ page.title }}
              </h1>
      </div>
    </div>
<div class="usa-width-one-half">
    <!-- <img src="{{ site.baseurl }}{{ page.image }}">-->
    </div>
  </div>
  </div>
</section>

<section class="usa-section usa-graphic_list">
   <div class="usa-grid usa-graphic_list-row">
      <div class="usa-width-two-thirds usa-media_block">
        <div class="usa-media_block-body">
          {% include post-author.html context="page" %}
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %-d, %Y" }}</time>
          </p>
          <span class="post-tags" itemprop="keywords">
            {% for tag in page.tags %}
              <a class="usa-label" href="{{ site.baseurl }}/{{ site.tag_dir }}/{{ tag | slugify }}/">{{ tag }}
              </a>
            {% endfor %}
          <p>
            {{ content }}
          </p>
      </div>
      {% if page.previous or page.next %}
        <section class="post-pagination usa-grid">
          <div class="usa-width-one-half">
            {% if page.previous %}
              <a href="{{ site.baseurl }}{{ page.previous.url }}">
                <span class="link-arrow-left">
                &larr;  Previous Post
                </span>
                <h5>&ldquo;{{ page.previous.title }}&rdquo;</h5>
              </a>
            {% endif %}
          </div>
          <div class="usa-width-one-half">
            {% if page.next %}
                <a href="{{ site.baseurl }}{{ page.next.url }}">
                  <span class="link-arrow-right">
                    Next Post &rarr;
                                    </span>
                  <h5>&ldquo;{{ page.next.title }}&rdquo;</h5>
                </a>
            {% endif %}
          </div>
        </section>
      {% endif %}



    </div>
      <aside class="usa-width-one-third section-info section-info-gray">
            <ul>
              {% include related-posts.html %}
            </ul>
            <div class="margin-spacing pad-top-bottom background-medium">
            <div class="usa-grid usa-flex-baseline">
              <h2>Want to see your story on Performance.gov?</h2>
              <div>
        <a href="/contact/"><button class="usa-button usa-button-secondary">Contact us</button></a>
      </div>
    </div>
  </div>
      </aside>
    </div>
  </section>


      <!--{% include post-author.html context="page" %}
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %-d, %Y" }}</time>
      </p>
      <span class="post-tags" itemprop="keywords">
        {% for tag in page.tags %}
          <a class="usa-label" href="{{ site.baseurl }}/{{ site.tag_dir }}/{{ tag | slugify }}/">{{ tag }}
          </a>
        {% endfor %}
      </span>
        {% if page.image and page.image_feature_small == true %}
        <img class="image-feature-small" src="{{ site.baseurl }}{{ page.image }}" alt="{{ page.image_accessibility }}">
      {% endif %}
      {{ content }}
    </div>
  </div>
</div>
</div>
</section>
